<mat-card class="search-box container">
  <mat-list>
    <mat-list-item>item</mat-list-item>
    <mat-list-item>item</mat-list-item>
    <mat-list-item>item</mat-list-item>
    <mat-list-item>item</mat-list-item>
    <mat-list-item>item</mat-list-item>
    <mat-list-item>item</mat-list-item>
    <mat-list-item>item</mat-list-item>
    <mat-list-item>item</mat-list-item>
    <mat-list-item>item</mat-list-item>
    <mat-list-item>item</mat-list-item>
    <mat-list-item>item</mat-list-item>
    <mat-list-item>item</mat-list-item>
  </mat-list>
</mat-card>