.search-box {
  &.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, auto));
  }

  .search-box {
    width: calc(100% - 4rem);
    margin: 2rem;

    .search-input {
      width: 100%;
    }
  }

  button {
    height: 3rem;
    width: auto;
    margin: auto 0;
    padding: 0;
  }
}
